html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: "pacificoregular";
  src: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/fonts/pacificoregular/pacificoregular.woff2") format("woff2"), url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/fonts/pacificoregular/pacificoregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1em;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

/* --- Navigation ------------------------------------------------------------------ */
div.burger {
  position: fixed;
  width: 18px;
  height: 15px;
  top: 8px;
  left: 8px;
  z-index: 45;
}

div.burger .bun {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform .4s, opacity .4s, top .4s;
  transition: transform .4s, opacity .4s, top .4s;
}

div.burger .topBun {
  top: 0px;
}

div.burger .midBun {
  top: 50%;
  margin-top: -2px;
}

div.burger .bottomBun {
  bottom: 0px;
}

div.burger.open .topBun, div.burger.open .bottomBun {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.burger.open .midBun {
  opacity: 0;
}

div.burger.open .bottomBun {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/MenuToggleBg.svg");
  background-repeat: no-repeat;
  transition: width .7s, height .8s, background-size .7s;
  overflow: hidden;
  z-index: 40;
}

nav a#logo {
  position: absolute;
  width: 130px;
  height: 80px;
  left: 44px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/GeldhofLogo.png");
  background-size: cover;
  transition: opacity .4s, top .5s;
}

nav a#logo span {
  display: none;
}

nav ul {
  position: absolute;
  top: 100px;
  left: 38px;
}

nav ul li {
  position: relative;
  margin-bottom: 20px;
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  transition: margin-left .4s, opacity .8s;
}

nav ul li a {
  padding-left: 5px;
  text-decoration: none;
  color: #FFFFFF;
  transition: padding-left .3s, color .2s;
}

nav.closed {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}

nav.closed a#logo {
  top: -200px;
  opacity: 0;
}

nav.closed ul li {
  margin-left: -380px;
  opacity: 0;
}

nav.open {
  width: 300px;
  height: 140%;
  background-size: 300px 140%;
}

nav.open a#logo {
  top: 0px;
  opacity: 1;
}

nav.open ul li {
  margin-left: 0px;
  opacity: 1;
}

nav.open li a:hover, nav.open li a.active {
  padding-left: 10px;
  color: #FFD0DA;
}

nav.open li a.active {
  border-left: 3px solid #FFD0DA;
}

/* --- 1: Header ------------------------------------------------------------------- */
body > header {
  position: absolute;
  width: 100%;
  height: 760px;
}

body > header .headerBg, body > header .headerBgSmall {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/HeaderBg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #401D2A;
  z-index: 0;
}

body > header .headerBg {
  height: 249px;
}

body > header h1.title a {
  position: absolute;
  width: 297px;
  height: 68px;
  top: 80px;
  left: 50%;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/TypischGents.png");
  margin-left: -138px;
  z-index: 5;
}

body > header h1 a span {
  display: none;
}

body > header .headerCuberdons {
  position: absolute;
  width: 459px;
  height: 243px;
  top: 170px;
  left: 50%;
  margin-left: -230px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CuberdonsHeader.png");
  z-index: 8;
}

body > header .petal {
  position: absolute;
  z-index: 10;
}

body > header .petal1 {
  top: 276px;
  left: 0px;
}

body > header .petal2 {
  top: 196px;
  left: 6%;
}

body > header .petal3 {
  top: 211px;
  left: 15%;
}

body > header .petal4 {
  top: 156px;
  left: 50%;
  margin-left: -260px;
  z-index: 5;
}

body > header .petal5 {
  top: 196px;
  left: 65%;
}

body > header .petal6 {
  top: 285px;
  left: 73%;
}

body > header .petal7 {
  top: 187px;
  left: 80%;
}

body > header .petal8 {
  top: 302px;
  right: 0px;
}

body > header .petal9 {
  top: 190px;
  right: 0px;
}

body > header h2 {
  position: absolute;
  width: 400px;
  top: 430px;
  left: 50%;
  margin-left: -200px;
  font-size: 6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #823F59;
}

body > header h3 {
  position: absolute;
  width: 680px;
  top: 530px;
  left: 50%;
  margin-left: -340px;
  font-size: 5em;
  font-family: 'pacifico';
  text-align: center;
  color: #FFD0DA;
}

body > header h3 span {
  color: #FEA5BA;
}

body > header .heartDivider {
  position: absolute;
  width: 400px;
  height: 37px;
  top: 630px;
  left: 50%;
  margin-left: -200px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/HeartDivider.png");
  background-position: center;
  background-repeat: no-repeat;
}

body > header p {
  position: absolute;
  width: 620px;
  top: 710px;
  left: 50%;
  margin-left: -310px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
  text-align: center;
  color: #823F59;
}

/* --- 2: Ideaal Cadeau ------------------------------------------------------------------- */
#cadeaus {
  position: absolute;
  width: 100%;
  height: 760px;
  top: 760px;
  background-color: #FFFFFF;
}

#cadeaus header h1 {
  position: absolute;
  width: 500px;
  top: 300px;
  left: 50%;
  margin-left: -250px;
  font-size: 5.6em;
  font-family: 'pacifico';
  text-align: center;
  color: #823F59;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF, -3px -3px 0 #FFFFFF, -2px -3px 0 #FFFFFF, -1px -3px 0 #FFFFFF, 0px -3px 0 #FFFFFF, 1px -3px 0 #FFFFFF, 2px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px -2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, 3px -2px 0 #FFFFFF, -3px -1px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, 3px -1px 0 #FFFFFF, -3px 0px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 3px 0px 0 #FFFFFF, -3px 1px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, 3px 1px 0 #FFFFFF, -3px 2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF, 3px 2px 0 #FFFFFF, -3px 3px 0 #FFFFFF, -2px 3px 0 #FFFFFF, -1px 3px 0 #FFFFFF, 0px 3px 0 #FFFFFF, 1px 3px 0 #FFFFFF, 2px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF;
  z-index: 20;
}

#cadeaus .valentineBox {
  position: absolute;
  width: 403px;
  height: 237px;
  top: 100px;
  left: 50%;
  margin-left: -201px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/ValentineBox.png");
  z-index: 15;
}

#cadeaus .decorLeft {
  position: absolute;
  width: 355px;
  height: 275px;
  top: 5px;
  left: 0px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/DecorLeft.png");
  z-index: 0;
}

#cadeaus .decorRight {
  position: absolute;
  width: 345px;
  height: 151px;
  top: 38px;
  right: 0px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/DecorRight.png");
  z-index: 0;
}

#cadeaus .cadeauBg {
  position: absolute;
  width: 100%;
  height: 628px;
  top: 142px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CadeauBg.svg");
  background-size: 100% 628px;
  z-index: 5;
}

#cadeaus p {
  position: absolute;
  width: 576px;
  top: 404px;
  left: 50%;
  margin-left: -288px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
  text-align: justify;
  color: #FFFFFF;
  z-index: 20;
}

#cadeaus p span {
  color: #FFD0DA;
}

#cadeaus a {
  position: absolute;
  width: 250px;
  top: 604px;
  left: 50%;
  margin-left: -125px;
  padding: 15px 0px;
  border-radius: 14px;
  background-color: #FFFFFF;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #823F59;
  z-index: 20;
}

#cadeaus .raspberry {
  position: absolute;
  width: 143px;
  height: 161px;
  top: 520px;
  left: 50%;
  margin-left: -500px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/Raspberry.png");
  z-index: 20;
}

#cadeaus .petal3 {
  position: absolute;
  top: 580px;
  left: 75%;
  z-index: 20;
}

/* --- 3: Deel en Win ------------------------------------------------------------------- */
#win {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 1580px;
  background-color: #FFFFFF;
}

#win header h1 {
  position: absolute;
  width: 250px;
  top: 0px;
  left: 50%;
  margin-left: -125px;
  font-size: 4.8em;
  font-weight: bold;
  font-family: 'pacifico', sans-serif;
  text-align: center;
  color: #333333;
}

#win h2 {
  position: absolute;
  width: 800px;
  top: 76px;
  left: 50%;
  margin-left: -400px;
  font-size: 4.8em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #823F59;
}

#win section {
  position: absolute;
  width: 980px;
  top: 160px;
  left: 50%;
  margin-left: -490px;
}

#win section figure {
  position: relative;
  float: left;
  width: 300px;
  height: 330px;
  margin-right: 40px;
  background-color: #823F59;
}

#win section figure img.image {
  position: absolute;
  width: 260px;
  height: 240px;
  top: 20px;
  left: 20px;
  background-color: #FFFFFF;
  z-index: 5;
}

#win section figure img.icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 230px;
  left: 50%;
  margin-left: -25px;
  z-index: 10;
}

#win section figure h3 {
  position: absolute;
  width: 160px;
  top: 290px;
  left: 50%;
  margin-left: -80px;
  font-size: 1.8em;
  font-family: 'pacifico', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

#win section figure:last-child {
  margin-right: 0px;
}

#win p {
  position: absolute;
  width: 710px;
  top: 530px;
  left: 50%;
  margin-left: -355px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #333;
  z-index: 20;
}

#win p span {
  color: #823F59;
}

/* --- 4: Geliefd Streekproduct ------------------------------------------------------------------- */
#streek {
  position: absolute;
  width: 100%;
  height: 760px;
  top: 2200px;
  background-color: #FFFFFF;
}

#streek header h1 {
  position: absolute;
  width: 500px;
  top: 195px;
  left: 50%;
  margin-left: -250px;
  font-size: 5.6em;
  font-family: 'pacifico';
  text-align: center;
  color: #823F59;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF, -3px -3px 0 #FFFFFF, -2px -3px 0 #FFFFFF, -1px -3px 0 #FFFFFF, 0px -3px 0 #FFFFFF, 1px -3px 0 #FFFFFF, 2px -3px 0 #FFFFFF, 3px -3px 0 #FFFFFF, -3px -2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, 3px -2px 0 #FFFFFF, -3px -1px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, 3px -1px 0 #FFFFFF, -3px 0px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 3px 0px 0 #FFFFFF, -3px 1px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, 3px 1px 0 #FFFFFF, -3px 2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF, 3px 2px 0 #FFFFFF, -3px 3px 0 #FFFFFF, -2px 3px 0 #FFFFFF, -1px 3px 0 #FFFFFF, 0px 3px 0 #FFFFFF, 1px 3px 0 #FFFFFF, 2px 3px 0 #FFFFFF, 3px 3px 0 #FFFFFF;
  z-index: 20;
}

#streek .coupleIllustration {
  position: absolute;
  width: 116px;
  height: 160px;
  top: 70px;
  left: 50%;
  margin-left: -58px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CoupleIllustration.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}

#streek .cityDecorLeft {
  position: absolute;
  width: 358px;
  height: 170px;
  top: 50px;
  left: 0px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CityDecorLeft.png");
  z-index: 0;
}

#streek .cityDecorRight {
  position: absolute;
  width: 434px;
  height: 325px;
  top: 0px;
  right: 0px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CityDecorRight.png");
  z-index: 0;
}

#streek .streekBg {
  position: absolute;
  width: 100%;
  height: 628px;
  top: 160px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/CadeauBg.svg");
  background-size: 100% 628px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 5;
}

#streek .bgPurple {
  position: absolute;
  width: 100%;
  height: 360px;
  top: 450px;
  background-color: #823F59;
  z-index: 0;
}

#streek p {
  position: absolute;
  width: 716px;
  top: 300px;
  left: 50%;
  margin-left: -358px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
  text-align: justify;
  color: #FFF;
  z-index: 20;
}

#streek p span {
  color: #FFD0DA;
}

#streek .bgWhite {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 570px;
  background-color: #FFF;
  z-index: 20;
}

#streek .streekProductLabel {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 550px;
  left: 50%;
  margin-left: -75px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/streekProductLabel.png");
  background-size: contain;
  z-index: 30;
}

#streek .neuzekesKar {
  position: absolute;
  width: 240px;
  height: 180px;
  top: 500px;
  left: 17%;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/NeuzekesFietsKar.png");
  background-size: contain;
  background-repeat: none;
  z-index: 30;
}

#streek .playGame {
  position: absolute;
  top: 580px;
  left: 50%;
  margin-left: 140px;
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  line-height: 2em;
  color: #823F59;
  z-index: 35;
}

#streek .playGame a {
  margin-top: 8px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #823F59;
  font-size: .9em;
  text-decoration: none;
  color: #FFF;
}

/* --- X: Game ---------------------------------------------------------------------- */
.game {
  height: 100%;
  background: #e2f5ff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to bottom, #e2f5ff 0%, #f4fbff 72%, #efe6e1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.game article > header {
  position: absolute;
  width: 100%;
  height: 47px;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #B02C61;
}

.game article > header h1 {
  margin-top: 10px;
  font-size: 2.3em;
  font-family: 'Pacifico', sans-serif;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
  color: #AE2F61;
}

.game article > footer {
  position: absolute;
  width: 100%;
  height: 47px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: #B02C61;
}

.game article > footer h3 {
  margin-top: 16px;
  font-size: 1.3em;
  font-family: 'Helvetica', sans-serif;
  color: #FFF;
}

.game .healthbar {
  position: fixed;
  width: 400px;
  height: 10px;
  top: 30px;
  left: 60%;
  margin-left: -200px;
  background-color: #D1D2D4;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  z-index: 25;
}

.game .remainingHealth {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0px;
  left: 0px;
  background-color: #823F59;
}

.game .heartsScored, .game .customersGained {
  position: fixed;
  width: 80px;
  height: 30px;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  z-index: 30;
}

.game .heartsScored p, .game .customersGained p {
  position: absolute;
  top: 7px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px -2px 0 #FFFFFF, -1px -2px 0 #FFFFFF, 0px -2px 0 #FFFFFF, 1px -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px -1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 0px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px -1px 0 #FFFFFF, -2px 0px 0 #FFFFFF, -1px 0px 0 #FFFFFF, 0px 0px 0 #FFFFFF, 1px 0px 0 #FFFFFF, 2px 0px 0 #FFFFFF, -2px 1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 0px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 2px 1px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -1px 2px 0 #FFFFFF, 0px 2px 0 #FFFFFF, 1px 2px 0 #FFFFFF, 2px 2px 0 #FFFFFF;
  color: #823F59;
}

.game .customersGained {
  left: 267px;
  margin-top: -65px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/game/HeadIcon.svg");
}

.game .customersGained p {
  left: 37px;
}

.game .heartsScored {
  left: 260px;
  margin-top: -10px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/game/HeartIcon.svg");
}

.game .heartsScored p {
  left: 40px;
}

.game .next, .game .prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border: none;
  outline: none;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/game/Arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #823F59;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5em;
  color: #FFF;
  z-index: 30;
}

.game .next {
  right: 0px;
  text-align: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.game .prev {
  left: 0px;
  text-align: left;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(200, 200, 200, 0.5);
  transition: opacity .5s;
  z-index: 10;
}

#pauseScreen {
  position: fixed;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 60%;
  margin-top: -220px;
  margin-left: -350px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0px rgba(66, 66, 66, 0.4);
  overflow: hidden;
  transition: opacity .4s;
  z-index: 20;
}

#pauseScreen header {
  background-color: #AE2F61;
}

#infoWrapper {
  position: absolute;
  width: 300%;
  height: 300px;
  top: 50px;
  transition: left .4s;
}

#infoWrapper section {
  position: relative;
  width: 33.333%;
  height: 300px;
  float: left;
  background-color: #FFFFFF;
}

#infoWrapper section img {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0px;
  left: 0px;
}

#infoWrapper section h2, #infoWrapper section p {
  display: none;
}

#infoWrapper.showInfo1 {
  left: 0%;
}

#infoWrapper.showInfo2 {
  left: -100%;
}

#infoWrapper.showInfo3 {
  left: -200%;
}

#scoreScreen {
  position: fixed;
  width: 300px;
  height: 190px;
  top: 50%;
  left: 60%;
  margin-top: -100px;
  margin-left: -150px;
  border-radius: 8px;
  background-color: #FFF;
  transition: opacity .4s;
  overflow: hidden;
  z-index: 40;
}

#scoreScreen section {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 47px;
}

#scoreScreen section header > h1 {
  display: none;
}

#scoreScreen ul.labels {
  position: relative;
  padding: 10px;
}

#scoreScreen ul.labels li {
  width: 100%;
  padding: 5px 3px;
  clear: both;
}

#scoreScreen ul.labels li p {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: #823F59;
}

#scoreScreen ul.labels li p:first-child {
  float: left;
}

#scoreScreen ul.labels li p:last-child {
  float: right;
}

#scoreScreen ul.labels li.gained p {
  color: #77AE62;
}

#scoreScreen ul.labels li.lost p {
  color: #EC4F41;
}

#scoreScreen a.replay, #scoreScreen div.score {
  position: absolute;
  left: 50%;
  padding: 7px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: #FFF;
}

#scoreScreen div.score {
  margin: 9px 8px 10px -80px;
  background-color: #53C4FC;
}

#scoreScreen a.replay {
  margin: 9px 8px 10px 20px;
  background-color: #77AE62;
}

/* --- BestelPagina --------------------------------------------------------------------- */
body.order {
  background-color: #401D2A;
}

body.order .petal {
  position: absolute;
}

body.order .petal2 {
  top: 50px;
  left: 60%;
  margin-left: 130px;
}

body.order .petal4 {
  top: 294px;
  left: 60%;
  margin-left: 350px;
}

body.order .petal5 {
  top: 500px;
  left: 60%;
  margin-left: -550px;
}

body.order .bgRadial {
  position: absolute;
  width: 700px;
  height: 500px;
  top: 34px;
  left: 60%;
  margin-left: -280px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/BgRadialGradient.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .15;
  z-index: 0;
}

body.order header {
  position: fixed;
  height: 80px;
  z-index: 20;
}

body.order header .headerBgSmall {
  height: 80px;
  background-position: top center;
}

body.order header h1.orderTitle {
  position: absolute;
  width: 500px;
  top: 18px;
  left: 60%;
  margin-left: -250px;
  font-size: 3.4em;
  font-weight: bold;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  color: #FFD0DA;
  z-index: 30;
}

body.order header h2 {
  position: absolute;
  width: 500px;
  top: 120px;
  left: 60%;
  margin-left: -250px;
  font-size: 3.4em;
  font-weight: bold;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  color: #FFD0DA;
  z-index: 30;
}

#bestel {
  position: absolute;
  width: 780px;
  top: 120px;
  left: 60%;
  margin-left: -390px;
}

#bestel header h1 {
  display: none;
}

#bestel .personaliseer {
  position: absolute;
  width: 100%;
}

#bestel .personaliseer legend {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 3.7em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
}

#bestel .personaliseer label {
  position: absolute;
  top: 90px;
  left: 40px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #FFD0DA;
}

#bestel .personaliseer textarea {
  position: absolute;
  width: 340px;
  height: 100px;
  top: 130px;
  left: 40px;
  padding: 14px;
  border-radius: 12px;
  background-color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #333;
  outline: none;
  border: none;
  resize: none;
  z-index: 10;
}

#bestel .valentineBox {
  position: absolute;
  width: 260px;
  height: 180px;
  top: 85px;
  left: 50%;
  margin-left: -19px;
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/ValentineBox.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

#bestel .info {
  position: absolute;
  width: 100%;
  top: 270px;
}

#bestel .info legend {
  display: none;
}

#bestel .info label {
  position: relative;
  width: 200px;
  height: 34px;
  margin: 8px 0px;
  padding: 9px 0px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  text-align: right;
  float: left;
}

#bestel .info input[type='text'], #bestel .info input[type='email'], #bestel .info input[type='tel'] {
  position: relative;
  width: 380px;
  height: 34px;
  margin: 8px 20px;
  padding: 9px 12px;
  border-radius: 7px;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  border: none;
  outline: none;
  color: #333;
  z-index: 10;
}

#bestel .info input[type='submit'] {
  position: absolute;
  width: 200px;
  top: 230px;
  left: 50%;
  margin-left: -100px;
  padding: 7px;
  background-color: #FFF;
  font-size: 2em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #401D2A;
  border-radius: 12px;
  border: none;
  outline: none;
}

/* --- Spritesheet ------------------------------------------------------------------- */
.petal1 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -378px 0px;
  width: 126px;
  height: 104px;
}

.petal2 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -378px -104px;
  width: 119px;
  height: 80px;
}

.petal3 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: 0px 0px;
  width: 205px;
  height: 177px;
}

.petal4 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: 0px -177px;
  width: 115px;
  height: 119px;
}

.petal5 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: 0px -296px;
  width: 128px;
  height: 80px;
}

.petal6 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -115px -177px;
  width: 140px;
  height: 95px;
}

.petal7 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -205px 0px;
  width: 173px;
  height: 129px;
}

.petal8 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -378px -184px;
  width: 63px;
  height: 99px;
}

.petal9 {
  background-image: url("http://localhost:1124/thorr.stevens/20152016/Streekproduct/assets/img/petals.png");
  background-position: -441px -184px;
  width: 42px;
  height: 81px;
}
