//$root: 'http://student.howest.be/thorr.stevens/20152016/MAIII/STREEKPRODUCT';
$root: 'http://localhost:1124/thorr.stevens/20152016/Streekproduct';

$purpleHeader: #401D2A;
$purpleSubHead: #AC3261;
$purpleMain: #823F59;
$pinkLight: #FFD0DA;
$pinkDark: #FEA5BA;

$color-1: #3a2c41; // Blackcurrant
$color-2: #eaf2e3; // Willow Brook
$color-3: #000000; // Black
$color-4: #c0a672; // Gimblet
