@import 'variables';
@import 'reset';
@import 'mixins';
@import 'petals';
//@import 'layout';

@include font-face('pacificoregular');
//@include font-face('pt_sansbold');
//@include font-face('pt_sansregular');

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  height: 3000px;
  font-size: 1em;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

/* --- Navigation ------------------------------------------------------------------ */

div.burger{

  position: fixed;
  width: 18px;
  height: 15px;
  top: 8px;
  left: 8px;
  z-index: 45;

  .bun{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 1;
    transform: rotate(0deg);
    transition: transform .4s, opacity .4s, top .4s;
  }

  .topBun{
    top: 0px;
  }

  .midBun{
    top: 50%;
    margin-top: -2px;
  }

  .bottomBun{
    bottom: 0px;
  }

}

div.burger.open{

  .topBun, .bottomBun{
    top: 50%;
    transform: rotate(45deg);
  }

  .midBun{
    opacity: 0;
  }

  .bottomBun{
    top: 50%;
    transform: rotate(-45deg);
  }

}

nav {

  position: fixed;
  top: 0px;
  left: 0px;
  @include bgImgUrl('MenuToggleBg.svg');
  background-repeat: no-repeat;
  transition: width .7s, height .8s, background-size .7s;
  overflow: hidden;
  z-index: 40;

  a#logo{

    position: absolute;
    width: 130px;
    height: 80px;
    left: 44px;
    @include bgImgUrl('GeldhofLogo.png');
    background-size: cover;
    transition: opacity .4s, top .5s;

    span{
      display: none;
    }

  }

  ul{

    position: absolute;
    top: 100px;
    left: 38px;

    li{
      position: relative;
      margin-bottom: 20px;
      list-style: none;
      font-size: 2em;
      font-weight: bold;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      transition: margin-left .4s, opacity .8s;
    }

    li a{
      padding-left: 5px;
      text-decoration: none;
      color: #FFFFFF;
      transition: padding-left .3s, color .2s;
    }

  }

}

nav.closed {

  width: 60px;
  height: 60px;
  background-size: 60px 60px;

  a#logo{
    top: -200px;
    opacity: 0;
  }

  ul li{
    margin-left: -380px;
    opacity: 0;
  }

}

nav.open {

  width: 300px;
  height: 140%;
  background-size: 300px 140%;

  a#logo{
    top: 0px;
    opacity: 1;
  }

  ul li{
    margin-left: 0px;
    opacity: 1;
  }

  li a:hover, li a.active{
    padding-left: 10px;
    color: $pinkLight;
  }

  li a.active{
    border-left: 3px solid $pinkLight;
  }

}

/* --- 1: Header ------------------------------------------------------------------- */

body > header {

  position: absolute;
  width: 100%;
  height: 760px;

  .headerBg {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 249px;
    @include bgImgUrl('HeaderBg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $purpleHeader;
    z-index: 0;
  }

  h1.title a{
    position: absolute;
    width: 297px;
    height: 68px;
    top: 80px;
    left: 50%;
    @include bgImgUrl('TypischGents.png');
    margin-left: -138px;
    z-index: 5;
  }

  h1 a span{
    display: none;
  }

  .headerCuberdons{
    position: absolute;
    width: 459px;
    height: 243px;
    top: 170px;
    left: 50%;
    margin-left: -230px;
    @include bgImgUrl('CuberdonsHeader.png');
    z-index: 8;
  }

  .petal{
    position: absolute;
    z-index: 10;
  }

  .petal1{ top: 276px; left: 0px; }
  .petal2{ top: 196px; left: 6%; }
  .petal3{ top: 211px; left: 15%; }
  .petal4{ top: 156px; left: 50%; margin-left: -260px; z-index: 5; }
  .petal5{ top: 196px; left: 65%; }
  .petal6{ top: 285px; left: 73%; }
  .petal7{ top: 187px; left: 80%; }
  .petal8{ top: 302px; right: 0px; }
  .petal9{ top: 190px; right: 0px; }

  h2{
    position: absolute;
    width: 400px;
    top: 430px;
    left: 50%;
    margin-left: -200px;
    font-size: 6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: $purpleMain;
  }

  h3{
    position: absolute;
    width: 680px;
    top: 530px;
    left: 50%;
    margin-left: -340px;
    font-size: 5em;
    font-family: 'pacifico';
    text-align: center;
    color: $pinkLight;
    span{ color: $pinkDark; }
  }

  .heartDivider{
    position: absolute;
    width: 400px;
    height: 37px;
    top: 630px;
    left: 50%;
    margin-left: -200px;
    @include bgImgUrl('HeartDivider.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  p{
    position: absolute;
    width: 620px;
    top: 710px;
    left: 50%;
    margin-left: -310px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    text-align: center;
    color: $purpleMain;
  }

}

/* --- 2: Ideaal Cadeau ------------------------------------------------------------------- */

#cadeaus {

  position: absolute;
  width: 100%;
  height: 760px;
  top: 760px;
  background-color: #FFFFFF;

  header h1{
    position: absolute;
    width: 500px;
    top: 300px;
    left: 50%;
    margin-left: -250px;
    font-size: 5.6em;
    font-family: 'pacifico';
    text-align: center;
    color: $purpleMain;
    @include stroke(3px, #FFFFFF);
    z-index: 20;
  }

  .valentineBox{
    position: absolute;
    width: 403px;
    height: 237px;
    top: 100px;
    left: 50%;
    margin-left: -201px;
    @include bgImgUrl('ValentineBox.png');
    z-index: 15;
  }

  .decorLeft{
    position: absolute;
    width: 355px;
    height: 275px;
    top: 5px;
    left: 0px;
    @include bgImgUrl('DecorLeft.png');
    z-index: 0;
  }

  .decorRight{
    position: absolute;
    width: 345px;
    height: 151px;
    top: 38px;
    right: 0px;
    @include bgImgUrl('DecorRight.png');
    z-index: 0;
  }

  .cadeauBg{
    position: absolute;
    width: 100%;
    height: 628px;
    top: 142px;
    @include bgImgUrl('CadeauBg.svg');
    background-size: 100% 628px;
    z-index: 5;
  }

  p{
    position: absolute;
    width: 576px;
    top: 404px;
    left: 50%;
    margin-left: -288px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    text-align: justify;
    color: #FFFFFF;
    z-index: 20;
    span{ color: $pinkLight; }
  }

  a{
    position: absolute;
    width: 250px;
    //height: 50px;
    top: 604px;
    left: 50%;
    margin-left: -125px;
    padding: 15px 0px;
    border-radius: 14px;
    background-color: #FFFFFF;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $purpleMain;
    z-index: 20;
  }

  .raspberry{
    position: absolute;
    width: 143px;
    height: 161px;
    top: 520px;
    //left: -50px;
    left: 50%;
    margin-left: -500px;
    @include bgImgUrl('Raspberry.png');
    z-index: 20;
  }

  .petal3{
    position: absolute;
    top: 580px;
    left: 75%;
    z-index: 20;
  }

}

/* --- 3: Deel en Win ------------------------------------------------------------------- */

#win {

  position: absolute;
  width: 100%;
  height: 600px;
  top: 1530px;
  background-color: #FFFFFF;

  header h1{
    position: absolute;
    width: 250px;
    top: 0px;
    left: 50%;
    margin-left: -125px;
    font-size: 4.8em;
    font-weight: bold;
    font-family: 'pacifico', sans-serif;
    text-align: center;
    color: #333333;
  }

  h2{
    position: absolute;
    width: 800px;
    top: 76px;
    left: 50%;
    margin-left: -400px;
    font-size: 4.8em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: $purpleMain;
  }

  section{

    position: absolute;
    width: 980px;
    top: 160px;
    left: 50%;
    margin-left: -490px;

    figure{

      position: relative;
      float: left;
      width: 300px;
      height: 330px;
      margin-right: 40px;
      background-color: $purpleMain;

      .image{
        position: absolute;
        width: 260px;
        height: 240px;
        top: 20px;
        left: 20px;
        background-color: #FFFFFF;
        z-index: 5;
      }

      img{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 230px;
        left: 50%;
        margin-left: -25px;
        z-index: 10;
      }

      h3{
        position: absolute;
        width: 160px;
        top: 290px;
        left: 50%;
        margin-left: -80px;
        font-size: 1.8em;
        font-family: 'pacifico', sans-serif;
        text-align: center;
        color: #FFFFFF;
      }

    }

    figure:last-child{
      margin-right: 0px;
    }

  }

}

/* --- X: Footer ------------------------------------------------------------------- */



/* --- Vertical Navigation --------------------------------------------------------- */

/*.vertical-nav {

  position: fixed;
  z-index: 50;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  transform: scale(0);
  transform: origin(right bottom);
  transition: transform .2s;
  background-color: rgba($color-2, .9);

  a {

    display: block;
    padding: 1em;
    color: $color-1;
    font-weight: bold;
    border-bottom: 1px solid rgba($color-1, .1);

    &.active {
      color: $color-4;
    }

  }

  &.open {
    transform: scale(1);
    -webkit-overflow-scrolling: touch;
  }

  &.open + .cd-nav-trigger {

    background-color: transparent;

    span {
      background-color: rgba($color-1, 0);
    }

    span::before, span::after {
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px;
    }

    span::before {
      transform: rotate(45deg);
      top: 1px;
    }

    span::after {
      transform: rotate(135deg);
      bottom: 0;
    }

  }

  @include MQ(M) {

    right: 0;
    top: 0;
    bottom: auto;
    height: 100vh;
    width: 90px;
    max-width: none;
    max-height: none;
    transform: scale(1);
    background-color: transparent;
    display: table;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-3, .8);
      transform: translateX(100%);
      transition: transform .4s;
    }

    .no-touch &:hover::before,
    .touch &::before {
      transform: translateX(0);
    }

    ul {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    a {

      position: relative;
      padding: 3em 0 0;
      margin: 1.4em auto;
      border-bottom: none;
      font-size: 1.2rem;
      color: $color-2;

      &.active {
        color: $color-2;
      }

      &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        backface-visibility: hidden;
        transform: translateZ(0);
      }

      &::before {
        top: 0;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: $color-2;
        transform: translateX(-50%) scale(.25);
        transition: transform .4s, background-color .2s;
      }

      &::after {
        opacity: 0;
        top: 8px;
        height: 16px;
        width: 16px;
        @include bgImgUrl('cd-nav-icons.svg');
        background-repeat: no-repeat;
        transform: translateX(-50%) scale(0);
        transition: transform .4s 0s, opacity .1s .3s;
      }

      &.active::before,
      .no-touch &:hover::before {
        background-color: $color-4;
      }

    }

    li:first-of-type a::after {
      background-position: 0px -48px;
      transform: translateX(-50%) translateY(4.5em) scale(0.01);
    }

    li:first-of-type a::before {
      transform: translateX(-50%) translateY(4.5em) scale(.25);
    }

    li:nth-of-type(2) a::after {
      background-position: 0px -32px;
      transform: translateX(-50%) translateY(1.5em) scale(0.01);
    }

    li:nth-of-type(2) a::before {
      transform: translateX(-50%) translateY(1.5em) scale(.25);
    }

    li:nth-of-type(3) a::after {
      background-position: 0px -16px;
      transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    }

    li:nth-of-type(3) a::before {
      transform: translateX(-50%) translateY(-1.5em) scale(.25);
    }

    li:nth-of-type(4) a::after {
      background-position: 0px 0px;
      transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    }

    li:nth-of-type(4) a::before {
      transform: translateX(-50%) translateY(-4.5em) scale(.25);
    }

    .label {
      display: block;
      backface-visibility: hidden;
      transform: translateZ(0);
      transform: translateX(100%);
      transition: transform .4s;
    }

    .no-touch &:hover a::before,
    .no-touch &:hover a::after,
    .touch & li:nth-of-type(n) a::before,
    .touch & li:nth-of-type(n) a::after {
      transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
    }

    .no-touch &:hover a::after,
    .touch & a::after {
      opacity: 1;
      transition: transform .4s, opacity 0s;
    }

    .no-touch &:hover .label,
    .touch & .label {
      transform: translateX(0);
    }

  }

}*/

/* --- Spritesheet ------------------------------------------------------------------- */

.petal1{ @include sprite($-flower-petals1); }
.petal2{ @include sprite($-flower-petals2); }
.petal3{ @include sprite($-flower-petals3); }
.petal4{ @include sprite($-flower-petals4); }
.petal5{ @include sprite($-flower-petals5); }
.petal6{ @include sprite($-flower-petals6); }
.petal7{ @include sprite($-flower-petals7); }
.petal8{ @include sprite($-flower-petals8); }
.petal9{ @include sprite($-flower-petals9); }

