@import 'variables';
@import 'reset';
@import 'mixins';
@import 'petals';
//@import 'layout';

@include font-face('pacificoregular');
//@include font-face('pt_sansbold');
//@include font-face('pt_sansregular');

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  height: 3000px;
  font-size: 1em;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

/* --- Navigation ------------------------------------------------------------------ */

div.burger{

  position: fixed;
  width: 18px;
  height: 15px;
  top: 8px;
  left: 8px;
  z-index: 45;

  .bun{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    opacity: 1;
    transform: rotate(0deg);
    transition: transform .4s, opacity .4s, top .4s;
  }

  .topBun{
    top: 0px;
  }

  .midBun{
    top: 50%;
    margin-top: -2px;
  }

  .bottomBun{
    bottom: 0px;
  }

}

div.burger.open{

  .topBun, .bottomBun{
    top: 50%;
    transform: rotate(45deg);
  }

  .midBun{
    opacity: 0;
  }

  .bottomBun{
    top: 50%;
    transform: rotate(-45deg);
  }

}

nav {

  position: fixed;
  top: 0px;
  left: 0px;
  @include bgImgUrl('MenuToggleBg.svg');
  background-repeat: no-repeat;
  transition: width .7s, height .8s, background-size .7s;
  overflow: hidden;
  z-index: 40;

  a#logo{

    position: absolute;
    width: 130px;
    height: 80px;
    left: 44px;
    @include bgImgUrl('GeldhofLogo.png');
    background-size: cover;
    transition: opacity .4s, top .5s;

    span{
      display: none;
    }

  }

  ul{

    position: absolute;
    top: 100px;
    left: 38px;

    li{
      position: relative;
      margin-bottom: 20px;
      list-style: none;
      font-size: 2em;
      font-weight: bold;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      transition: margin-left .4s, opacity .8s;
    }

    li a{
      padding-left: 5px;
      text-decoration: none;
      color: #FFFFFF;
      transition: padding-left .3s, color .2s;
    }

  }

}

nav.closed {

  width: 60px;
  height: 60px;
  background-size: 60px 60px;

  a#logo{
    top: -200px;
    opacity: 0;
  }

  ul li{
    margin-left: -380px;
    opacity: 0;
  }

}

nav.open {

  width: 300px;
  height: 140%;
  background-size: 300px 140%;

  a#logo{
    top: 0px;
    opacity: 1;
  }

  ul li{
    margin-left: 0px;
    opacity: 1;
  }

  li a:hover, li a.active{
    padding-left: 10px;
    color: $pinkLight;
  }

  li a.active{
    border-left: 3px solid $pinkLight;
  }

}

/* --- 1: Header ------------------------------------------------------------------- */

body > header {

  position: absolute;
  width: 100%;
  height: 760px;

  .headerBg {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 249px;
    @include bgImgUrl('HeaderBg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $purpleHeader;
    z-index: 0;
  }

  h1.title a{
    position: absolute;
    width: 297px;
    height: 68px;
    top: 80px;
    left: 50%;
    @include bgImgUrl('TypischGents.png');
    margin-left: -138px;
    z-index: 5;
  }

  h1 a span{
    display: none;
  }

  .headerCuberdons{
    position: absolute;
    width: 459px;
    height: 243px;
    top: 170px;
    left: 50%;
    margin-left: -230px;
    @include bgImgUrl('CuberdonsHeader.png');
    z-index: 8;
  }

  .petal{
    position: absolute;
    z-index: 10;
  }

  .petal1{ top: 276px; left: 0px; }
  .petal2{ top: 196px; left: 6%; }
  .petal3{ top: 211px; left: 15%; }
  .petal4{ top: 156px; left: 50%; margin-left: -260px; z-index: 5; }
  .petal5{ top: 196px; left: 65%; }
  .petal6{ top: 285px; left: 73%; }
  .petal7{ top: 187px; left: 80%; }
  .petal8{ top: 302px; right: 0px; }
  .petal9{ top: 190px; right: 0px; }

  h2{
    position: absolute;
    width: 400px;
    top: 430px;
    left: 50%;
    margin-left: -200px;
    font-size: 6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: $purpleMain;
  }

  h3{
    position: absolute;
    width: 680px;
    top: 530px;
    left: 50%;
    margin-left: -340px;
    font-size: 5em;
    font-family: 'pacifico';
    text-align: center;
    color: $pinkLight;
    span{ color: $pinkDark; }
  }

  .heartDivider{
    position: absolute;
    width: 400px;
    height: 37px;
    top: 630px;
    left: 50%;
    margin-left: -200px;
    @include bgImgUrl('HeartDivider.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  p{
    position: absolute;
    width: 620px;
    top: 710px;
    left: 50%;
    margin-left: -310px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    text-align: center;
    color: $purpleMain;
  }

}

/* --- 2: Ideaal Cadeau ------------------------------------------------------------------- */

#cadeaus {

  position: absolute;
  width: 100%;
  height: 760px;
  top: 760px;
  background-color: #FFFFFF;

  header h1{
    position: absolute;
    width: 500px;
    top: 300px;
    left: 50%;
    margin-left: -250px;
    font-size: 5.6em;
    font-family: 'pacifico';
    text-align: center;
    color: $purpleMain;
    @include stroke(3px, #FFFFFF);
    z-index: 20;
  }

  .valentineBox{
    position: absolute;
    width: 403px;
    height: 237px;
    top: 100px;
    left: 50%;
    margin-left: -201px;
    @include bgImgUrl('ValentineBox.png');
    z-index: 15;
  }

  .decorLeft{
    position: absolute;
    width: 355px;
    height: 275px;
    top: 5px;
    left: 0px;
    @include bgImgUrl('DecorLeft.png');
    z-index: 0;
  }

  .decorRight{
    position: absolute;
    width: 345px;
    height: 151px;
    top: 38px;
    right: 0px;
    @include bgImgUrl('DecorRight.png');
    z-index: 0;
  }

  .cadeauBg{
    position: absolute;
    width: 100%;
    height: 628px;
    top: 142px;
    @include bgImgUrl('CadeauBg.svg');
    background-size: 100% 628px;
    z-index: 5;
  }

  p{
    position: absolute;
    width: 576px;
    top: 404px;
    left: 50%;
    margin-left: -288px;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    text-align: justify;
    color: #FFFFFF;
    z-index: 20;
    span{ color: $pinkLight; }
  }

  a{
    position: absolute;
    width: 250px;
    top: 604px;
    left: 50%;
    margin-left: -125px;
    padding: 15px 0px;
    border-radius: 14px;
    background-color: #FFFFFF;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $purpleMain;
    z-index: 20;
  }

  .raspberry{
    position: absolute;
    width: 143px;
    height: 161px;
    top: 520px;
    left: 50%;
    margin-left: -500px;
    @include bgImgUrl('Raspberry.png');
    z-index: 20;
  }

  .petal3{
    position: absolute;
    top: 580px;
    left: 75%;
    z-index: 20;
  }

}

/* --- 3: Deel en Win ------------------------------------------------------------------- */

#win {

  position: absolute;
  width: 100%;
  height: 600px;
  top: 1530px;
  background-color: #FFFFFF;

  header h1{
    position: absolute;
    width: 250px;
    top: 0px;
    left: 50%;
    margin-left: -125px;
    font-size: 4.8em;
    font-weight: bold;
    font-family: 'pacifico', sans-serif;
    text-align: center;
    color: #333333;
  }

  h2{
    position: absolute;
    width: 800px;
    top: 76px;
    left: 50%;
    margin-left: -400px;
    font-size: 4.8em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: $purpleMain;
  }

  section{

    position: absolute;
    width: 980px;
    top: 160px;
    left: 50%;
    margin-left: -490px;

    figure{

      position: relative;
      float: left;
      width: 300px;
      height: 330px;
      margin-right: 40px;
      background-color: $purpleMain;

      .image{
        position: absolute;
        width: 260px;
        height: 240px;
        top: 20px;
        left: 20px;
        background-color: #FFFFFF;
        z-index: 5;
      }

      img{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 230px;
        left: 50%;
        margin-left: -25px;
        z-index: 10;
      }

      h3{
        position: absolute;
        width: 160px;
        top: 290px;
        left: 50%;
        margin-left: -80px;
        font-size: 1.8em;
        font-family: 'pacifico', sans-serif;
        text-align: center;
        color: #FFFFFF;
      }

    }

    figure:last-child{
      margin-right: 0px;
    }

  }

}

/* --- X: Game ---------------------------------------------------------------------- */

.game{

  height: 100%;
  background: #e2f5ff; /* Old browsers */
  background: -moz-linear-gradient(top, #e2f5ff 0%, #f4fbff 72%, #efe6e1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e2f5ff 0%,#f4fbff 72%,#efe6e1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e2f5ff 0%,#f4fbff 72%,#efe6e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  article > header{

    position: absolute;
    width: 100%;
    height: 47px;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #B02C61;

    h1{
      margin-top: 10px;
      font-size: 2.3em;
      font-family: 'Pacifico', sans-serif;
      @include stroke(2px, #FFFFFF);
      color: #AE2F61;
    }

  }

  article > footer{

    position: absolute;
    width: 100%;
    height: 47px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: #B02C61;

    h3{
      margin-top: 16px;
      font-size: 1.3em;
      font-family: 'Helvetica', sans-serif;
      color: #FFF;
    }

  }

  .healthbar{
    position: fixed;
    width: 400px;
    height: 10px;
    top: 30px;
    left: 60%;
    margin-left: -200px;
    background-color: #D1D2D4;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    z-index: 25;
  }

  .remainingHealth{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0px;
    left: 0px;
    background-color: $purpleMain;
  }

  .heartsScored, .customersGained{

    position: fixed;
    width: 80px;
    height: 30px;
    top: 50%;
    //left: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    z-index: 30;

    p{
      position: absolute;
      top: 7px;
      font-family: 'Helvetica', sans-serif;
      font-weight: bold;
      font-size: 2em;
      @include stroke(2px, #FFFFFF);
      color: $purpleMain;
    }

  }

  .customersGained{
    left: 267px;
    margin-top: -65px;
    @include bgImgUrl('game/HeadIcon.svg');
    p{ left: 37px; }
  }

  .heartsScored{
    left: 260px;
    margin-top: -10px;
    @include bgImgUrl('game/HeartIcon.svg');
    p{ left: 40px; }
  }

  .next, .prev{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    border: none;
    outline: none;
    @include bgImgUrl('game/Arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $purpleMain;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    color: #FFF;
    z-index: 30;
  }

  .next{
    right: 0px;
    text-align: right;
    transform: rotate(180deg);
  }

  .prev{
    left: 0px;
    text-align: left;
  }

}

.show{ opacity: 1; }
.hide{ opacity: 0; }

#lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(200, 200, 200, .5);
  transition: opacity .5s;
  z-index: 10;
}

#pauseScreen{

  position: fixed;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 60%;
  margin-top: -220px;
  margin-left: -350px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0px rgba(66, 66, 66, .4);
  overflow: hidden;
  transition: opacity .4s;
  z-index: 20;

  header{ background-color: #AE2F61; }

}

#infoWrapper{

  position: absolute;
  width: 300%;
  height: 300px;
  top: 50px;
  transition: left .4s;

  section{

    position: relative;
    width: 33.333%;
    height: 300px;
    float: left;
    background-color: #FFFFFF;

    img{
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0px;
      left: 0px;
    }

    h2, p{
      display: none;
    }

  }

}

#infoWrapper.showInfo1{ left: 0%; }
#infoWrapper.showInfo2{ left: -100%; }
#infoWrapper.showInfo3{ left: -200%; }

#scoreScreen {

  position: fixed;
  width: 240px;
  height: 190px;
  top: 50%;
  left: 60%;
  margin-top: -100px;
  margin-left: -120px;
  border-radius: 8px;
  background-color: #FFF;
  //box-shadow: 0 0 2px 0px rgba(66, 66, 66, .4);
  transition: opacity .4s;
  overflow: hidden;
  z-index: 40;

  section{

    position: absolute;
    width: 100%;
    height: 100px;
    top: 47px;

    header > h1{
      display: none;
    }

  }

  ul.labels{

    position: relative;
    padding: 10px;

    li{

      width: 100%;
      padding: 5px 3px;
      clear: both;

      p{
        font-family: 'Helvetica', sans-serif;
        font-weight: bold;
        font-size: 1.3em;
        color: $purpleMain;
      }

    }

  }

  ul.labels li p:first-child{
    float: left;
  }

  ul.labels li p:last-child{
    float: right;
  }

  ul.labels li.gained p{
    color: #77AE62;
  }

  ul.labels li.lost p{
    color: #EC4F41;
  }

  a.replay, div.score{
    position: absolute;
    left: 50%;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #FFF;
  }

  div.score{
    margin: 9px 8px 10px -80px;
    background-color: #53C4FC;
  }

  a.replay{
    margin: 9px 8px 10px 20px;
    background-color: #77AE62;
  }

}

/*#scoreScreen.won > header{
  background-color: #77AE62;
}

#scoreScreen.lost > header{
  background-color: #B02C61;
}*/

/* --- X: Footer --------------------------------------------------------------------- */





/* --- Spritesheet ------------------------------------------------------------------- */

.petal1{ @include sprite($-flower-petals1); }
.petal2{ @include sprite($-flower-petals2); }
.petal3{ @include sprite($-flower-petals3); }
.petal4{ @include sprite($-flower-petals4); }
.petal5{ @include sprite($-flower-petals5); }
.petal6{ @include sprite($-flower-petals6); }
.petal7{ @include sprite($-flower-petals7); }
.petal8{ @include sprite($-flower-petals8); }
.petal9{ @include sprite($-flower-petals9); }

